<table>
<colgroup>
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
</colgroup>
<thead>
<tr>
<th style="text-align: left;">Command</th>
<th style="text-align: right;">Mean [µs]</th>
<th style="text-align: right;">Min [µs]</th>
<th style="text-align: right;">Max [µs]</th>
<th style="text-align: right;">Relative</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: left;"><code>Zig/fib_opt</code></td>
<td style="text-align: right;">238.3 ± 53.8</td>
<td style="text-align: right;">174.9</td>
<td style="text-align: right;">829.7</td>
<td style="text-align: right;">1.00</td>
</tr>
<tr>
<td style="text-align: left;"><code>Nim/fib_opt</code></td>
<td style="text-align: right;">623.9 ± 91.7</td>
<td style="text-align: right;">465.1</td>
<td style="text-align: right;">1480.8</td>
<td style="text-align: right;">2.62 ± 0.71</td>
</tr>
<tr>
<td style="text-align: left;"><code>Crystal/fib_opt</code></td>
<td style="text-align: right;">1421.4 ± 208.7</td>
<td style="text-align: right;">1137.3</td>
<td style="text-align: right;">3231.2</td>
<td style="text-align: right;">5.96 ± 1.61</td>
</tr>
<tr>
<td style="text-align: left;"><code>Chapel/fib_opt</code></td>
<td style="text-align: right;">14878.9 ± 2211.3</td>
<td style="text-align: right;">11663.5</td>
<td style="text-align: right;">22200.5</td>
<td style="text-align: right;">62.43 ± 16.87</td>
</tr>
<tr>
<td style="text-align: left;"><code>Chapel/fib_iter</code></td>
<td style="text-align: right;">14291.8 ± 1934.8</td>
<td style="text-align: right;">11521.6</td>
<td style="text-align: right;">19834.0</td>
<td style="text-align: right;">59.97 ± 15.78</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib_opt</code></td>
<td style="text-align: right;">1058.3 ± 160.0</td>
<td style="text-align: right;">811.9</td>
<td style="text-align: right;">2431.4</td>
<td style="text-align: right;">4.44 ± 1.21</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib_memo</code></td>
<td style="text-align: right;">1195.9 ± 176.0</td>
<td style="text-align: right;">945.6</td>
<td style="text-align: right;">2724.9</td>
<td style="text-align: right;">5.02 ± 1.35</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib_memo2</code></td>
<td style="text-align: right;">1176.4 ± 170.8</td>
<td style="text-align: right;">947.5</td>
<td style="text-align: right;">2743.6</td>
<td style="text-align: right;">4.94 ± 1.32</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib_opt-unsafe</code></td>
<td style="text-align: right;">1063.9 ± 155.7</td>
<td style="text-align: right;">805.7</td>
<td style="text-align: right;">2727.2</td>
<td style="text-align: right;">4.46 ± 1.20</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib_opt+flambda</code></td>
<td style="text-align: right;">1076.3 ± 164.0</td>
<td style="text-align: right;">844.4</td>
<td style="text-align: right;">2565.7</td>
<td style="text-align: right;">4.52 ± 1.23</td>
</tr>
<tr>
<td
style="text-align: left;"><code>OCaml/fib_opt+flambda-unsafe</code></td>
<td style="text-align: right;">1078.9 ± 164.9</td>
<td style="text-align: right;">830.8</td>
<td style="text-align: right;">2494.7</td>
<td style="text-align: right;">4.53 ± 1.23</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib_binet</code></td>
<td style="text-align: right;">1110.3 ± 155.0</td>
<td style="text-align: right;">862.4</td>
<td style="text-align: right;">2509.4</td>
<td style="text-align: right;">4.66 ± 1.24</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib_binet_opt</code></td>
<td style="text-align: right;">1121.3 ± 159.1</td>
<td style="text-align: right;">876.2</td>
<td style="text-align: right;">2572.8</td>
<td style="text-align: right;">4.70 ± 1.25</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib_shift</code></td>
<td style="text-align: right;">1068.6 ± 154.0</td>
<td style="text-align: right;">829.1</td>
<td style="text-align: right;">2510.9</td>
<td style="text-align: right;">4.48 ± 1.20</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib_binet+flambda</code></td>
<td style="text-align: right;">1158.4 ± 191.7</td>
<td style="text-align: right;">892.9</td>
<td style="text-align: right;">2631.7</td>
<td style="text-align: right;">4.86 ± 1.36</td>
</tr>
<tr>
<td
style="text-align: left;"><code>OCaml/fib_binet_opt+flambda</code></td>
<td style="text-align: right;">1147.3 ± 164.1</td>
<td style="text-align: right;">918.8</td>
<td style="text-align: right;">2643.0</td>
<td style="text-align: right;">4.81 ± 1.29</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib_shift+flambda</code></td>
<td style="text-align: right;">1076.2 ± 154.0</td>
<td style="text-align: right;">839.8</td>
<td style="text-align: right;">2552.6</td>
<td style="text-align: right;">4.52 ± 1.21</td>
</tr>
<tr>
<td style="text-align: left;"><code>MLton/fib_opt</code></td>
<td style="text-align: right;">912.7 ± 117.7</td>
<td style="text-align: right;">703.9</td>
<td style="text-align: right;">2057.6</td>
<td style="text-align: right;">3.83 ± 1.00</td>
</tr>
<tr>
<td style="text-align: left;"><code>MLton/fib_opt+native+O3</code></td>
<td style="text-align: right;">873.6 ± 126.9</td>
<td style="text-align: right;">691.4</td>
<td style="text-align: right;">2058.0</td>
<td style="text-align: right;">3.67 ± 0.98</td>
</tr>
<tr>
<td style="text-align: left;"><code>MLton/fib_opt-mlkit</code></td>
<td style="text-align: right;">958.0 ± 140.2</td>
<td style="text-align: right;">743.6</td>
<td style="text-align: right;">2321.8</td>
<td style="text-align: right;">4.02 ± 1.08</td>
</tr>
<tr>
<td style="text-align: left;"><code>MLton/fib_opt-mlkit-ngc</code></td>
<td style="text-align: right;">987.3 ± 165.9</td>
<td style="text-align: right;">736.3</td>
<td style="text-align: right;">2280.4</td>
<td style="text-align: right;">4.14 ± 1.17</td>
</tr>
<tr>
<td style="text-align: left;"><code>PolyML/fib_opt</code></td>
<td style="text-align: right;">3159.2 ± 356.5</td>
<td style="text-align: right;">2467.3</td>
<td style="text-align: right;">5326.0</td>
<td style="text-align: right;">13.26 ± 3.34</td>
</tr>
<tr>
<td style="text-align: left;"><code>Rust/fib_opt</code></td>
<td style="text-align: right;">802.6 ± 119.5</td>
<td style="text-align: right;">621.3</td>
<td style="text-align: right;">1920.7</td>
<td style="text-align: right;">3.37 ± 0.91</td>
</tr>
<tr>
<td style="text-align: left;"><code>Dylan/_build/bin/fib_opt</code></td>
<td style="text-align: right;">10487.3 ± 1225.9</td>
<td style="text-align: right;">8375.8</td>
<td style="text-align: right;">16975.7</td>
<td style="text-align: right;">44.00 ± 11.18</td>
</tr>
<tr>
<td style="text-align: left;"><code>Go/fib_opt</code></td>
<td style="text-align: right;">1058.6 ± 131.6</td>
<td style="text-align: right;">820.4</td>
<td style="text-align: right;">2371.7</td>
<td style="text-align: right;">4.44 ± 1.14</td>
</tr>
<tr>
<td style="text-align: left;"><code>ATS/fib_opt</code></td>
<td style="text-align: right;">582.8 ± 79.5</td>
<td style="text-align: right;">447.9</td>
<td style="text-align: right;">1570.5</td>
<td style="text-align: right;">2.45 ± 0.64</td>
</tr>
<tr>
<td style="text-align: left;"><code>Swift/fib_opt</code></td>
<td style="text-align: right;">2060.2 ± 319.4</td>
<td style="text-align: right;">1624.0</td>
<td style="text-align: right;">3963.4</td>
<td style="text-align: right;">8.64 ± 2.37</td>
</tr>
<tr>
<td style="text-align: left;"><code>Ada/fib_opt</code></td>
<td style="text-align: right;">667.2 ± 93.3</td>
<td style="text-align: right;">494.3</td>
<td style="text-align: right;">1462.7</td>
<td style="text-align: right;">2.80 ± 0.74</td>
</tr>
<tr>
<td style="text-align: left;"><code>Mercury/fib_opt</code></td>
<td style="text-align: right;">2441.3 ± 338.0</td>
<td style="text-align: right;">1888.2</td>
<td style="text-align: right;">4863.3</td>
<td style="text-align: right;">10.24 ± 2.71</td>
</tr>
<tr>
<td style="text-align: left;"><code>Mercury/fib_opt_memo</code></td>
<td style="text-align: right;">4493.4 ± 642.3</td>
<td style="text-align: right;">3446.1</td>
<td style="text-align: right;">7794.1</td>
<td style="text-align: right;">18.85 ± 5.04</td>
</tr>
<tr>
<td style="text-align: left;"><code>Mercury/fib_memo</code></td>
<td style="text-align: right;">2490.2 ± 349.8</td>
<td style="text-align: right;">1936.0</td>
<td style="text-align: right;">4805.3</td>
<td style="text-align: right;">10.45 ± 2.78</td>
</tr>
<tr>
<td style="text-align: left;"><code>C/fib_opt</code></td>
<td style="text-align: right;">607.3 ± 85.7</td>
<td style="text-align: right;">444.5</td>
<td style="text-align: right;">1384.6</td>
<td style="text-align: right;">2.55 ± 0.68</td>
</tr>
<tr>
<td style="text-align: left;"><code>C/fib_opt-clang</code></td>
<td style="text-align: right;">586.2 ± 76.1</td>
<td style="text-align: right;">446.8</td>
<td style="text-align: right;">1320.2</td>
<td style="text-align: right;">2.46 ± 0.64</td>
</tr>
<tr>
<td style="text-align: left;"><code>Kotlin/fib_opt</code></td>
<td style="text-align: right;">1163.4 ± 131.8</td>
<td style="text-align: right;">937.8</td>
<td style="text-align: right;">2582.5</td>
<td style="text-align: right;">4.88 ± 1.23</td>
</tr>
<tr>
<td style="text-align: left;"><code>CLisp/fib_opt</code></td>
<td style="text-align: right;">4945.8 ± 628.9</td>
<td style="text-align: right;">4030.1</td>
<td style="text-align: right;">8037.8</td>
<td style="text-align: right;">20.75 ± 5.38</td>
</tr>
<tr>
<td style="text-align: left;"><code>Clean/bin/fib_opt.exe</code></td>
<td style="text-align: right;">1369.3 ± 180.5</td>
<td style="text-align: right;">1124.8</td>
<td style="text-align: right;">3192.7</td>
<td style="text-align: right;">5.75 ± 1.50</td>
</tr>
<tr>
<td style="text-align: left;"><code>Koka/fib_opt</code></td>
<td style="text-align: right;">1438.3 ± 197.1</td>
<td style="text-align: right;">1049.8</td>
<td style="text-align: right;">3023.4</td>
<td style="text-align: right;">6.03 ± 1.59</td>
</tr>
<tr>
<td style="text-align: left;"><code>Terra/fib_opt</code></td>
<td style="text-align: right;">368.4 ± 71.0</td>
<td style="text-align: right;">279.5</td>
<td style="text-align: right;">980.2</td>
<td style="text-align: right;">1.55 ± 0.46</td>
</tr>
<tr>
<td style="text-align: left;"><code>Oberon/fib-opt-voc</code></td>
<td style="text-align: right;">423.0 ± 73.4</td>
<td style="text-align: right;">319.6</td>
<td style="text-align: right;">1007.2</td>
<td style="text-align: right;">1.78 ± 0.51</td>
</tr>
<tr>
<td style="text-align: left;"><code>Oberon/fib-opt-obc</code></td>
<td style="text-align: right;">1011.2 ± 145.3</td>
<td style="text-align: right;">779.8</td>
<td style="text-align: right;">2274.8</td>
<td style="text-align: right;">4.24 ± 1.13</td>
</tr>
<tr>
<td style="text-align: left;"><code>Oberon/fib-opt-obnc</code></td>
<td style="text-align: right;">1048.5 ± 140.6</td>
<td style="text-align: right;">801.5</td>
<td style="text-align: right;">2461.8</td>
<td style="text-align: right;">4.40 ± 1.15</td>
</tr>
<tr>
<td style="text-align: left;"><code>Oberon/fib-iter-voc</code></td>
<td style="text-align: right;">443.2 ± 79.0</td>
<td style="text-align: right;">320.0</td>
<td style="text-align: right;">1047.9</td>
<td style="text-align: right;">1.86 ± 0.53</td>
</tr>
<tr>
<td style="text-align: left;"><code>Oberon/fib-iter-obc</code></td>
<td style="text-align: right;">1014.8 ± 148.8</td>
<td style="text-align: right;">756.6</td>
<td style="text-align: right;">2247.9</td>
<td style="text-align: right;">4.26 ± 1.15</td>
</tr>
<tr>
<td style="text-align: left;"><code>Oberon/fib-iter-obnc</code></td>
<td style="text-align: right;">1057.9 ± 152.0</td>
<td style="text-align: right;">838.0</td>
<td style="text-align: right;">2420.5</td>
<td style="text-align: right;">4.44 ± 1.19</td>
</tr>
<tr>
<td style="text-align: left;"><code>Pascal/fib_opt</code></td>
<td style="text-align: right;">261.9 ± 57.1</td>
<td style="text-align: right;">197.0</td>
<td style="text-align: right;">878.7</td>
<td style="text-align: right;">1.10 ± 0.34</td>
</tr>
<tr>
<td
style="text-align: left;"><code>Lean/.lake/build/bin/fib tail</code></td>
<td style="text-align: right;">3531.5 ± 462.4</td>
<td style="text-align: right;">2721.4</td>
<td style="text-align: right;">6399.7</td>
<td style="text-align: right;">14.82 ± 3.87</td>
</tr>
<tr>
<td
style="text-align: left;"><code>ruby interpret/fib_opt.rb</code></td>
<td style="text-align: right;">85743.8 ± 3737.5</td>
<td style="text-align: right;">77589.8</td>
<td style="text-align: right;">95095.9</td>
<td style="text-align: right;">359.77 ± 82.68</td>
</tr>
<tr>
<td
style="text-align: left;"><code>ruby interpret/fib_opt_toc.rb</code></td>
<td style="text-align: right;">85370.4 ± 4381.6</td>
<td style="text-align: right;">76108.9</td>
<td style="text-align: right;">94828.1</td>
<td style="text-align: right;">358.20 ± 82.89</td>
</tr>
<tr>
<td
style="text-align: left;"><code>python interpret/fib_opt.py</code></td>
<td style="text-align: right;">30297.3 ± 2801.5</td>
<td style="text-align: right;">25904.0</td>
<td style="text-align: right;">38078.8</td>
<td style="text-align: right;">127.12 ± 31.00</td>
</tr>
<tr>
<td
style="text-align: left;"><code>node interpret/fib_opt.js</code></td>
<td style="text-align: right;">50808.8 ± 3376.7</td>
<td style="text-align: right;">46656.0</td>
<td style="text-align: right;">59473.6</td>
<td style="text-align: right;">213.19 ± 50.15</td>
</tr>
<tr>
<td style="text-align: left;"><code>bun interpret/fib_opt.js</code></td>
<td style="text-align: right;">18611.4 ± 1026.8</td>
<td style="text-align: right;">16621.4</td>
<td style="text-align: right;">21310.6</td>
<td style="text-align: right;">78.09 ± 18.14</td>
</tr>
<tr>
<td style="text-align: left;"><code>qjs interpret/fib_opt.js</code></td>
<td style="text-align: right;">3743.7 ± 509.7</td>
<td style="text-align: right;">2964.2</td>
<td style="text-align: right;">6130.8</td>
<td style="text-align: right;">15.71 ± 4.14</td>
</tr>
<tr>
<td style="text-align: left;"><code>js interpret/fib_opt.js</code></td>
<td style="text-align: right;">22783.0 ± 1649.3</td>
<td style="text-align: right;">20589.5</td>
<td style="text-align: right;">28792.4</td>
<td style="text-align: right;">95.59 ± 22.65</td>
</tr>
<tr>
<td style="text-align: left;"><code>d8 interpret/fib_opt.js</code></td>
<td style="text-align: right;">8149.5 ± 411.0</td>
<td style="text-align: right;">7339.1</td>
<td style="text-align: right;">9821.7</td>
<td style="text-align: right;">34.19 ± 7.91</td>
</tr>
<tr>
<td
style="text-align: left;"><code>tclsh interpret/fib_opt.tcl</code></td>
<td style="text-align: right;">7970.6 ± 951.5</td>
<td style="text-align: right;">6308.1</td>
<td style="text-align: right;">11936.1</td>
<td style="text-align: right;">33.44 ± 8.54</td>
</tr>
<tr>
<td style="text-align: left;"><code>interpret/fib_opt-qjsc</code></td>
<td style="text-align: right;">1148.0 ± 148.6</td>
<td style="text-align: right;">937.9</td>
<td style="text-align: right;">2628.7</td>
<td style="text-align: right;">4.82 ± 1.25</td>
</tr>
<tr>
<td style="text-align: left;"><code>Codon/fib_opt</code></td>
<td style="text-align: right;">4806.1 ± 616.1</td>
<td style="text-align: right;">3879.3</td>
<td style="text-align: right;">7610.4</td>
<td style="text-align: right;">20.17 ± 5.23</td>
</tr>
<tr>
<td style="text-align: left;"><code>C3/fib_opt</code></td>
<td style="text-align: right;">686.3 ± 111.9</td>
<td style="text-align: right;">512.7</td>
<td style="text-align: right;">1610.2</td>
<td style="text-align: right;">2.88 ± 0.80</td>
</tr>
<tr>
<td style="text-align: left;"><code>Mojo/fib_opt</code></td>
<td style="text-align: right;">1817.2 ± 263.7</td>
<td style="text-align: right;">1423.8</td>
<td style="text-align: right;">3860.9</td>
<td style="text-align: right;">7.62 ± 2.05</td>
</tr>
</tbody>
</table>
