<table>
<colgroup>
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
<col style="width: 20%" />
</colgroup>
<thead>
<tr>
<th style="text-align: left;">Command</th>
<th style="text-align: right;">Mean [s]</th>
<th style="text-align: right;">Min [s]</th>
<th style="text-align: right;">Max [s]</th>
<th style="text-align: right;">Relative</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: left;"><code>Zig/fib</code></td>
<td style="text-align: right;">2.633 ± 0.006</td>
<td style="text-align: right;">2.619</td>
<td style="text-align: right;">2.640</td>
<td style="text-align: right;">1.66 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>Nim/fib</code></td>
<td style="text-align: right;">3.249 ± 0.025</td>
<td style="text-align: right;">3.223</td>
<td style="text-align: right;">3.295</td>
<td style="text-align: right;">2.05 ± 0.02</td>
</tr>
<tr>
<td style="text-align: left;"><code>Crystal/fib</code></td>
<td style="text-align: right;">3.887 ± 0.021</td>
<td style="text-align: right;">3.867</td>
<td style="text-align: right;">3.929</td>
<td style="text-align: right;">2.45 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>Chapel/fib</code></td>
<td style="text-align: right;">2.918 ± 0.007</td>
<td style="text-align: right;">2.905</td>
<td style="text-align: right;">2.926</td>
<td style="text-align: right;">1.84 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib</code></td>
<td style="text-align: right;">4.212 ± 0.064</td>
<td style="text-align: right;">4.165</td>
<td style="text-align: right;">4.319</td>
<td style="text-align: right;">2.66 ± 0.04</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib-unsafe</code></td>
<td style="text-align: right;">4.168 ± 0.005</td>
<td style="text-align: right;">4.157</td>
<td style="text-align: right;">4.175</td>
<td style="text-align: right;">2.63 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib+flambda</code></td>
<td style="text-align: right;">4.166 ± 0.003</td>
<td style="text-align: right;">4.161</td>
<td style="text-align: right;">4.171</td>
<td style="text-align: right;">2.63 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>OCaml/fib+flambda-unsafe</code></td>
<td style="text-align: right;">4.170 ± 0.007</td>
<td style="text-align: right;">4.164</td>
<td style="text-align: right;">4.189</td>
<td style="text-align: right;">2.63 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>MLton/fib</code></td>
<td style="text-align: right;">12.010 ± 0.013</td>
<td style="text-align: right;">11.997</td>
<td style="text-align: right;">12.036</td>
<td style="text-align: right;">7.57 ± 0.02</td>
</tr>
<tr>
<td style="text-align: left;"><code>MLton/fib+native+O3</code></td>
<td style="text-align: right;">11.358 ± 0.030</td>
<td style="text-align: right;">11.329</td>
<td style="text-align: right;">11.412</td>
<td style="text-align: right;">7.16 ± 0.03</td>
</tr>
<tr>
<td style="text-align: left;"><code>MLton/fib-mlkit</code></td>
<td style="text-align: right;">20.669 ± 0.007</td>
<td style="text-align: right;">20.657</td>
<td style="text-align: right;">20.685</td>
<td style="text-align: right;">13.03 ± 0.04</td>
</tr>
<tr>
<td style="text-align: left;"><code>MLton/fib-mlkit-ngc</code></td>
<td style="text-align: right;">4.862 ± 0.004</td>
<td style="text-align: right;">4.856</td>
<td style="text-align: right;">4.869</td>
<td style="text-align: right;">3.06 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>PolyML/fib</code></td>
<td style="text-align: right;">5.908 ± 0.005</td>
<td style="text-align: right;">5.901</td>
<td style="text-align: right;">5.917</td>
<td style="text-align: right;">3.72 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>Rust/fib</code></td>
<td style="text-align: right;">2.597 ± 0.003</td>
<td style="text-align: right;">2.591</td>
<td style="text-align: right;">2.603</td>
<td style="text-align: right;">1.64 ± 0.00</td>
</tr>
<tr>
<td style="text-align: left;"><code>Dylan/_build/bin/fib</code></td>
<td style="text-align: right;">5.560 ± 0.005</td>
<td style="text-align: right;">5.554</td>
<td style="text-align: right;">5.569</td>
<td style="text-align: right;">3.50 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>Go/fib</code></td>
<td style="text-align: right;">4.185 ± 0.006</td>
<td style="text-align: right;">4.179</td>
<td style="text-align: right;">4.196</td>
<td style="text-align: right;">2.64 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>ATS/fib</code></td>
<td style="text-align: right;">1.587 ± 0.004</td>
<td style="text-align: right;">1.580</td>
<td style="text-align: right;">1.592</td>
<td style="text-align: right;">1.00</td>
</tr>
<tr>
<td style="text-align: left;"><code>Swift/fib</code></td>
<td style="text-align: right;">2.605 ± 0.002</td>
<td style="text-align: right;">2.602</td>
<td style="text-align: right;">2.608</td>
<td style="text-align: right;">1.64 ± 0.00</td>
</tr>
<tr>
<td style="text-align: left;"><code>Ada/fib</code></td>
<td style="text-align: right;">1.590 ± 0.005</td>
<td style="text-align: right;">1.580</td>
<td style="text-align: right;">1.599</td>
<td style="text-align: right;">1.00 ± 0.00</td>
</tr>
<tr>
<td style="text-align: left;"><code>Mercury/fib</code></td>
<td style="text-align: right;">1.655 ± 0.005</td>
<td style="text-align: right;">1.645</td>
<td style="text-align: right;">1.664</td>
<td style="text-align: right;">1.04 ± 0.00</td>
</tr>
<tr>
<td style="text-align: left;"><code>C/fib</code></td>
<td style="text-align: right;">6.452 ± 0.006</td>
<td style="text-align: right;">6.446</td>
<td style="text-align: right;">6.465</td>
<td style="text-align: right;">4.07 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>C/fib-clang</code></td>
<td style="text-align: right;">6.050 ± 0.009</td>
<td style="text-align: right;">6.038</td>
<td style="text-align: right;">6.071</td>
<td style="text-align: right;">3.81 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>Kotlin/fib</code></td>
<td style="text-align: right;">2.326 ± 0.010</td>
<td style="text-align: right;">2.315</td>
<td style="text-align: right;">2.345</td>
<td style="text-align: right;">1.47 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>CLisp/fib</code></td>
<td style="text-align: right;">24.211 ± 0.015</td>
<td style="text-align: right;">24.194</td>
<td style="text-align: right;">24.249</td>
<td style="text-align: right;">15.26 ± 0.04</td>
</tr>
<tr>
<td style="text-align: left;"><code>Clean/bin/fib.exe</code></td>
<td style="text-align: right;">3.823 ± 0.002</td>
<td style="text-align: right;">3.821</td>
<td style="text-align: right;">3.827</td>
<td style="text-align: right;">2.41 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>Koka/fib</code></td>
<td style="text-align: right;">5.698 ± 0.005</td>
<td style="text-align: right;">5.692</td>
<td style="text-align: right;">5.708</td>
<td style="text-align: right;">3.59 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>Terra/fib</code></td>
<td style="text-align: right;">2.608 ± 0.002</td>
<td style="text-align: right;">2.605</td>
<td style="text-align: right;">2.612</td>
<td style="text-align: right;">1.64 ± 0.00</td>
</tr>
<tr>
<td style="text-align: left;"><code>Oberon/fib-voc</code></td>
<td style="text-align: right;">1.663 ± 0.002</td>
<td style="text-align: right;">1.660</td>
<td style="text-align: right;">1.666</td>
<td style="text-align: right;">1.05 ± 0.00</td>
</tr>
<tr>
<td style="text-align: left;"><code>Oberon/fib-obc</code></td>
<td style="text-align: right;">11.644 ± 0.055</td>
<td style="text-align: right;">11.590</td>
<td style="text-align: right;">11.724</td>
<td style="text-align: right;">7.34 ± 0.04</td>
</tr>
<tr>
<td style="text-align: left;"><code>Oberon/fib-obnc</code></td>
<td style="text-align: right;">1.723 ± 0.004</td>
<td style="text-align: right;">1.716</td>
<td style="text-align: right;">1.731</td>
<td style="text-align: right;">1.09 ± 0.00</td>
</tr>
<tr>
<td style="text-align: left;"><code>Pascal/fib</code></td>
<td style="text-align: right;">5.905 ± 0.017</td>
<td style="text-align: right;">5.892</td>
<td style="text-align: right;">5.936</td>
<td style="text-align: right;">3.72 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>Mojo/fib</code></td>
<td style="text-align: right;">4.205 ± 0.003</td>
<td style="text-align: right;">4.200</td>
<td style="text-align: right;">4.211</td>
<td style="text-align: right;">2.65 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>Codon/fib</code></td>
<td style="text-align: right;">2.599 ± 0.004</td>
<td style="text-align: right;">2.595</td>
<td style="text-align: right;">2.608</td>
<td style="text-align: right;">1.64 ± 0.01</td>
</tr>
<tr>
<td style="text-align: left;"><code>C3/fib</code></td>
<td style="text-align: right;">2.609 ± 0.003</td>
<td style="text-align: right;">2.603</td>
<td style="text-align: right;">2.614</td>
<td style="text-align: right;">1.64 ± 0.00</td>
</tr>
<tr>
<td
style="text-align: left;"><code>Lean/.lake/build/bin/fib naive</code></td>
<td style="text-align: right;">13.922 ± 0.007</td>
<td style="text-align: right;">13.913</td>
<td style="text-align: right;">13.936</td>
<td style="text-align: right;">8.78 ± 0.02</td>
</tr>
</tbody>
</table>
